<div fxLayout="column" id="app-content">
  <div id="app-header" 
    fxFlex="60px" 
    fxLayout="row" 
    fxLayoutAlign="start center" 
    fxLayoutGap="10px"
  >
    <img src="/assets/images/bazuka.png" width="40px" />
    <span>BAZUKA {{ name }} </span>

    <div 
      fxLayout="row"
      fxLayoutAlign="end center" 
      fxFlex="100"
      fxLayoutGap="10px"
    >
      <button mat-raised-button  color="primary" (click)="getProductList()">Get products</button>
      <button mat-raised-button  color="accent">Accent</button>
      <button mat-raised-button  color="warn">Warn</button>
    </div>


  </div>
  <div id="app-center" 
    fxFlex="100" 
    fxLayout="row wrap" 
    fxLayoutGap="10px" 
    fxLayoutAlign="start start">

    <div *ngFor="let product of productList.results" fxLayout="row">
       <div style="width: 100px;">
        <img src="{{ product.get_small_image_url }}" />
       </div>
       <div style="width: 100px; text-align: center;">{{ product.name  }}</div>
    </div>

  </div>
  <div id="app-footer" fxFlex="40px">footer</div>
</div>

