<div fxLayout="column" id="app-content">
  <div id="app-header" 
    fxFlex="60px" 
    fxLayout="row" 
    fxLayoutAlign="start center" 
    fxLayoutGap="10px"
  >
    <img src="/assets/images/bazuka.png" width="40px" />
    <span id="title-text">BAZUKA {{ name }} </span>

    <div 
      fxLayout="row"
      fxLayoutAlign="end center" 
      fxFlex="100"
      fxLayoutGap="10px"
    >
      <button mat-raised-button [routerLink]="'catalog'"  color="primary">Catalog</button>
      <button mat-raised-button  [routerLink]="'basket'" color="warn">Basket</button>
      <button mat-raised-button  [routerLink]="'profile'" color="warn">Profile</button>
    </div>


  </div>
  
  <div>
    <router-outlet></router-outlet>
  </div>
  
    

  <div id="app-footer" fxFlex="40px">@Copyright zdimon77@gmail.com | powered by Angular & Django</div>
</div>

