<div fxLayout="column" id="app-content">
  <div id="app-header" 
    fxFlex="60px" 
    fxLayout="row" 
    fxLayoutAlign="start center" 
    fxLayoutGap="10px"
  >
    <img src="static/angular/assets/images/bazuka.png" width="40px" />
    <span id="title-text">BAZUKA {{ name }} </span>

    <div 
      fxLayout="row"
      fxLayoutAlign="end center" 
      fxFlex="100"
      fxLayoutGap="10px"
    >
      <button mat-raised-button [routerLink]="'catalog'"  color="primary">Catalog</button>
      <button 
        mat-raised-button  
        [routerLink]="'basket'" 
        color="primary"
        *ngIf="basket.length > 0"
        matBadge="{{ basket.length }}" 
        matBadgePosition="before" 
        matBadgeColor="accent"
        >
        <mat-icon>add_shopping_cart</mat-icon>
        Корзина
      </button>


      <button mat-raised-button [matMenuTriggerFor]="category">Категории</button>



      
        <mat-menu #category="matMenu">
          <ng-container *ngFor="let item of categories" >
            <button 
            mat-menu-item 
            [routerLink]="['catalog/cat',item.id]"
            [matMenuTriggerFor]="subitem">
              {{ item.name }}
            </button>
            <mat-menu #subitem="matMenu">
              <button 
              *ngFor="let subitem of item.subcategory" 
              [routerLink]="['catalog/subcat',subitem.id]"
              mat-menu-item>
                 {{ subitem.name }}
              </button>
            </mat-menu>
          </ng-container>
        </mat-menu>

      
    </div>


  </div>
  
  <div>
    <router-outlet></router-outlet>
  </div>
  
    

  <div id="app-footer" fxFlex="40px">@Copyright zdimon77@gmail.com | powered by Angular & Django</div>
</div>

